body {
    background-color: #0a0404;
    color: white;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.stopwatch {
    margin: 20px;
    border: 5px solid #ec63ae;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px chartreuse;
    text-align: center;
}

.display {
    font-size: 3rem;
}

.btn {
    margin: 10px;
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
}

.btn:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.lap-times {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.lap-times li {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid rgba(74, 120, 227, 0.933);
    border-radius: 10px;
    font-size: 1.2rem;
}